* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(0001.jpg);
  background-image: url(./img/Rectangle\ 1.jpg);
  height: 1024px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
.top__content {
  padding-top: 217px;
}
.top__content_header {
  width: 755px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.top__content_text {
  width: 481px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 44px;
}
.top__content_btn {
  width: 234.06px;
  height: 48.6px;
  text-align: center;
  background: #9C0332;
  border-radius: 30px;
  color: #FFFFFF;
  transition: all 1s;
}
.top__content_btn:hover {
  background: #EB443F;
}

.games {
  height: 556px;
  background-color: #000915;
  display: flex;
  align-items: center;
  justify-content: center;
}
.games__content {
  display: flex;
  gap: 30px;
}
.games__content_item1 {
  width: 379px;
  height: 300px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
  background-image: url(./img/Rectangle\ 6.jpg);
  border-radius: 16px;
  transition: all 0.4s;
}
.games__content_item1:hover {
  box-sizing: border-box;
  width: 378px;
  height: 300px;
  border: 3px solid #44D2FF;
  border-radius: 16px;
}
.games__content_item2 {
  width: 379px;
  height: 300px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
  background-image: url(./img/Rectangle\ 7.jpg);
  border-radius: 16px;
  transition: all 0.4s;
}
.games__content_item2:hover {
  box-sizing: border-box;
  width: 378px;
  height: 300px;
  border: 3px solid #44D2FF;
  border-radius: 16px;
}
.games__content_item3 {
  width: 379px;
  height: 300px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
  background-image: url(./img/Rectangle\ 8.jpg);
  border-radius: 16px;
  transition: all 0.4s;
}
.games__content_item3:hover {
  box-sizing: border-box;
  width: 378px;
  height: 300px;
  border: 3px solid #44D2FF;
  border-radius: 16px;
}

.item_text {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 236px;
  margin-left: 32px;
}

.seasons {
  height: 800px;
  background: #000915;
  box-sizing: border-box;
  padding-bottom: 235px;
  padding-top: 235px;
}
.seasons__content {
  display: flex;
  -moz-column-gap: 135px;
       column-gap: 135px;
}
.seasons__content_box_left {
  width: 584px;
}
.seasons__content_box_left_header {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.seasons__content_box_left_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.seasons__content_box_left_button {
  width: 234.06px;
  height: 48.6px;
  background: #0ce622;
  border-radius: 30px;
}
.seasons__content_box_right {
  width: 485px;
}

@media (max-width: 426px) {
  .body {
    padding-left: 16px;
    padding-right: 16px;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .top__content {
    padding-top: 279px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__content_header {
    width: 343px;
    height: 77.44px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 32px;
    text-align: center;
  }
  .top__content_text {
    width: 343px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 33px;
    text-align: center;
  }
  .games {
    height: 1221px;
  }
  .games__content {
    flex-direction: column;
  }
  .games__content_item1 {
    width: 343px;
  }
  .games__content_item2 {
    width: 343px;
  }
  .games__content_item3 {
    width: 343px;
  }
}/*# sourceMappingURL=styles.css.map */